html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;/*28 Days Later.ttf*/
  font-size: 1.6rem;
  background: #ba1010;
  color: #fff;
  background-image: url("fondoweb.png");
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
}

a {
  color: #d6a126;
}

main {
  margin: 2rem 0;
  text-align: center;
  /*@font-face {
    font-family: 28Days;
    src: url(/assets/fonts/28 Days Later.ttf) format('ttf');
  }*/

}

#game {
  border: 1px solid #333;
}

footer {
  text-align: center;
}
