html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: '8-bit', cursive;
  font-size: 1.6rem;
  background: #ba1010;
  color: #fff;
  background-image: url("web.png");
  background-repeat: repeat;
  background-size: 1950px 1500px;
}

a {
  color: #d6a126;
}

main {
  margin: 2rem 0;
  text-align: center;
}

#game {
  border: 1px solid #333;
}

footer {
  text-align: center;
}
